.gradle
.gradle/*
build/*
.gradle/8.11/fileHashes/fileHashes.lock
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin

*.lock
*.bin
